/* General styles */
body {
    background-size: cover;
    font-family: 'Arial', sans-serif;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact-form {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.contact-form h2 {
    font-family: 'Grand Hotel', cursive;
    color: #262626;
    font-size: 3em;
    margin-bottom: 20px;
}

.contact-form p {
    color: #8e8e8e;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    position: relative;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #262626;
}

.input-group input[type="text"],
.input-group input[type="email"],
.input-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    box-sizing: border-box;
    background: #fafafa;
}

.input-group input[type="text"]:focus,
.input-group input[type="email"]:focus,
.input-group textarea:focus {
    border-color: #b2b2b2;
    outline: none;
    background: #fff;
}

.input-group button {
    width: 100%;
    padding: 10px;
    background: #0095f6;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.input-group button:hover {
    background: #007bb5;
}
